* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background: #0A0A0E;
    color: #F1F3F5;

    font-family: "Press Start 2P", monospace;
}


.calculadora {

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns:
        220px
        minmax(0, 1fr)
        220px;

    overflow: hidden;
}


/* PANELES LATERALES */

.panel {

    background: #0F1015;

    border: 1px solid #1E2330;

    padding: 20px;

    overflow-y: auto;
}

.panel h2 {

    margin-top: 0;

    font-size: 12px;

    color: #E0B84F;
}


/* PANEL IZQUIERDO */

.funcionesPanel {

    border-right: 1px solid #1E2330;
}


.listaFunciones {

    display: flex;

    flex-direction: column;

    gap: 8px;
}


.funcion {

    width: 100%;

    padding: 10px;

    background: #0A0A0E;

    color: #F1F3F5;

    border: 1px solid #1E2330;

    font-family: inherit;

    font-size: 10px;

    text-align: left;

    cursor: pointer;
}


.funcion:hover {

    border-color: #E0B84F;

}


/* ZONA CENTRAL */

.zonaCentral {
    min-width: 0;
    min-height: 0;

    display: grid;
    
    grid-template-rows: minmax(0, 1fr) 220px;
}


/* VISUALIZACIÓN */

.visualizacion {

    min-height: 0;

    background: #0A0A0E;

    border-top: 1px solid #1E2330;
    border-bottom: 1px solid #1E2330;

    overflow: hidden;
}


#texto {

    color: #62C77A;

    font-size: 20px;
}


/* CONTROLES */

.controles {

    min-height: 0;

    background: #0F1015;

    padding: 15px;

    display: flex;

    flex-direction: column;

    gap: 15px;
}


/* INPUT */

.entrada {

    display: flex;

    gap: 8px;
}


.calcInput {

    flex: 1;

    min-width: 0;

    height: 45px;

    padding: 10px;

    background: #0A0A0E;

    border: 1px solid #1E2330;

    color: #F1F3F5;

    font-family: inherit;

    font-size: 12px;

    outline: none;
}


.calcInput:focus {

    border-color: #E0B84F;

}


#botonAgregar {

    width: 45px;

    height: 45px;

    background: #E0B84F;

    color: #0A0A0E;

    border: none;

    font-family: inherit;

    font-size: 18px;

    cursor: pointer;
}


#botonAgregar:hover {

    filter: brightness(1.1);

}


/* TECLADO */

.calcButton {

    flex: 1;

    display: grid;

    grid-template-columns:
        repeat(5, 1fr);

    grid-template-rows:
        repeat(4, 1fr);

    gap: 8px;

    min-height: 0;
}


.calcButton button {

    background: #0A0A0E;

    color: #F1F3F5;

    border: 1px solid #1E2330;

    font-family: inherit;

    font-size: 11px;

    cursor: pointer;
}


.calcButton button:hover {

    border-color: #E0B84F;

    color: #E0B84F;

}


.calcButton button:active {

    background: #E0B84F;

    color: #0A0A0E;

}


/* PANEL DERECHO */

.inspector {

    border-left: 1px solid #1E2330;
}


#inspectorContenido {

    color: #9AA1AD;

    font-size: 9px;

    line-height: 1.8;
}

#grafica {
    width: 100%;
    height: 100%;

    display: block;

    border: 2px solid red;
}